<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">Sign Up</h2>
          <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <div class="mb-3">
              <label for="username" class="form-label">
                Username
              </label>
              <input id="username" type="text" name="username" class="form-control" formControlName="username" required
                minlength="3" />
              @if (this.signUpForm.get('username')?.invalid && this.signUpForm.get('username')?.touched) {
              <div class="text-danger mt-1">
                Username must be at least 3 characters.
              </div>
              }
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">
                Email
              </label>
              <input id="email" type="email" name="email" class="form-control" formControlName="email" required>
              @if (this.signUpForm.get('email')?.invalid && this.signUpForm.get('email')?.touched) {
              <div class="text-danger mt-1">
                Please enter a valid email address.
              </div>
              }
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">
                Password
              </label>
              <input id="password" type="password" name="password" class="form-control" formControlName="password"
                required minlength="6" />
              @if (this.signUpForm.get('password')?.invalid && this.signUpForm.get('password')?.touched) {
              <div class="text-danger mt-1">
                Password must be at least 6 characters.
              </div>
              }
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="signUpForm.invalid">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
